{% extends "base.html" %}
{% block title %}Login - Site Tracker{% endblock %}
{% block card_title %}Login to Your Account{% endblock %}
{% block card_subtitle %}Enter your username & password to login{% endblock %}
{% block content %}

<form action="{{ url_for('login') }}" method="post" class="row g-3 needs-validation"
    novalidate>

    <div class="col-12">
        {{ form.hidden_tag() }}
        <label for="yourUsername" class="form-label">
            {{ form.username.label }}
        </label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            {{ form.username(class="form-control", id="yourUsername", required=True) }}
            <div class="invalid-feedback">Please enter your username.</div>
        </div>
        {% for error in form.username.errors %}
        <div class="invalid-feedback" style="display: block; color: red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col-12">
        <label for="yourPassword" class="form-label">
            {{ form.password.label }}
        </label>
        <div class="input-group has-validation">
            {{ form.password(class="form-control", id="yourPassword", required=True) }}
            <div class="invalid-feedback">Please enter your password.</div>
        </div>
        {% for error in form.password.errors %}
        <div class="invalid-feedback" style="display: block; color: red;">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="col-12">
        <div class="form-check">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">{{ form.submit.label }}</button>
    </div>

    <div class="col-12">
        <p class="small mb-0">Don't have an account? <a href="{{ url_for('register') }}">Create an account</a></p>
    </div>
</form>

<div class="col-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <ul class="mb-0">
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        {% endif %}
    {% endwith %}
</div>
{% endblock %}